<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="misapplication-tap-highlight" content="no">
	<meta name="HandheldFriendly" content="true">
	<meta name="MobileOptimized" content="320">
	<title>Cover Your Eyes</title>
<link href="../css/index.css?057d174b43cdfddf637a" rel="stylesheet"></head>
<body>
	<header>
		Cover Your Eyes
	</header>
<script type="text/javascript" src="../js/index.js?057d174b43cdfddf637a"></script></body>
</html>
