<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="misapplication-tap-highlight" content="no">
	<meta name="HandheldFriendly" content="true">
	<meta name="MobileOptimized" content="320">
	<title>Cover Your Eyes</title>
<link href="../css/index.css?a289e4448d3ffd3b9434" rel="stylesheet"></head>
<body>
	<header>
		Cover Your Eyes
	</header>
	<div class="container">
		<button type="button" class="btn-success" id="btn-start">Start</button>
		
		<table class="scores">
			<tbody>
				<tr>
					<td>Your Score: </td>
					<td id="score">0</td>
				</tr>
				<tr>
					<td>Your Best: </td>
					<td>0</td>
				</tr>
				<tr>
					<td>Your Total: </td>
					<td>0</td>
				</tr>
			</tbody>
		</table>
		
		<button type="button" class="btn-primary">Share</button>
	</div>
	
	<audio id="audio">
	    <source src="../sources/audio.mp3">
	</audio>
<script type="text/javascript" src="../js/index.js?a289e4448d3ffd3b9434"></script></body>
</html>
